.azul{
	color: #00457E;
}
.menu{
	float: right !important;
}
#padre  .bloque+.bloque{
	border-left: 1px solid #ACAE9F;
}
.bloque{
	width: 49%;
	height: 100%;
	min-height: 100px;
	float: left;
}
.bloqueFactura{
	padding: 25px;
	width: 49%;
	height: 500px;
	min-height: 100px;
	margin: 0 auto 0 auto;
	border: 7px dotted #635E5A;
}
.bloqueFactura td{
	padding: 10px;
}
.limpiar{
   /* border:   thick solid #000;*/
  overflow: hidden;
  height:   1%;
}
#padre{
    height: 100%;
    width: 100%;
    min-height: 200px;
    
}
.fila{
	/*border: solid 1px green;*/
	margin-top: 5px;
}
.etiqueta{
	/*border:1px solid blue;*/
	float: left;
	width: 35%	
}
.ingreso{
	/*border:1px solid blue;*/
	float: left;
	width: 64%
}
.encabezado{
	border: 2px solid black;
	text-align: center;
}
.nomEmp{
	text-align: center;
}
.detalles{
	text-align: center;
}